/* mouse starker */
.pointer {
  width: 500px;
  height: 500px;
  position: absolute;
  top: -500;
  left: 500;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.001s transform;
  pointer-events: none;
  z-index: -99;
}

/* shape */
.isCircle {
  border-radius: 50%;
}

.isTriangle {
  clip-path: polygon(100% 0%, 0 0, 50% 100%);
}

/* color */
.isYellow {
  background: #f4df4eff;
}

.isBlue {
  background: #00a4ccff;
}

.isPink {
  background: #d85a7fff;
}
